
#chrome_extension_statusbar {
	letter-spacing: normal;
}

#chrome_extension_statusbar .left {
	float: left;
}

#chrome_extension_statusbar .right {
	float: right;
}

#chrome_extension_statusbar a {
	text-decoration: none;
	border: none;
	-webkit-transition-duration: 0;
	transition-duration: 0;
	-webkit-transform: none;
	transform: none;
}

#chrome_extension_statusbar a:hover {
	color: blue;
}